<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catways</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
     <div>
        <img src="images/russell.jpg" alt="russell"  class="russell" >
    </div>
    <div class="form-container">
        <h2 class="login">Catways</h2>
        <p class="redirect">Enregistre les clients dans la base des donnees </p>
        <form action="/signup" method="post">
             <div class="form-group">
                <label for="catwayNumber">Numero Catways</label>
                <input type="text" id="catwayNumber" placeholder="Entrer Numero Catways" required autocomplete="off">
             </div>
             <div class="form-group">
                <label for="catwayType">Type de Catways</label>
                <input type="text" id="catwayType" placeholder="Entrer Type de Catways" required autocomplete="off">
             </div>
             <div class="form-group">
                <label for="catwayState">State Catways</label>
                <input type="text" id="catwayStateù" placeholder="Entrer State Catways" required autocomplete="off">
             </div>
             <button class="submit-btn">Enregistrer</button>
             <p class="redirect">Faire une <a href="/reservation">Reservation</a></p>
        </form>
    </div>
</body>
</html>