<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
   <p class="description">Situé directement sur la côte sud Francaise, Russell Le Port de Plaisance est l'endroit idéal pour les familles qui souhaitent s'installer dans la belle région bretonne de France. Allcamps vous permet de profiter facilement de vacances en camping fantastiques ! Le camping dispose de
    2 immenses toboggans aquatiques, d'une toute nouvelle aire de jeux aquatiques.</p>
    <div>
        <img src="images/russell.jpg" alt="russell"  class="russell" >
    </div>
    <div class="form-container">
        <h2 class="login">Login</h2>
        <form action="/login" method="post">
             <div class="form-group">
                <label for="name">Nom utlisateur</label>
                <input type="text" id="username" placeholder="Entrer votre Nom" required autocomplete="off">
             </div>
             <div class="form-group">
                <label for="email">E-mail utlisateur</label>
                <input type="text" id="usermail" placeholder="Entrer votre E-mail" required autocomplete="off">
             </div>
             <div class="form-group">
                <label for="password">Nom utlisateur</label>
                <input type="password" id="userpassword" placeholder="Entrer votre password" required autocomplete="off">
             </div>
             <button class="submit-btn"><a href="/tableauDeBord">Connexion</a></button>
             <p class="redirect">Vous n'avez pas de compte <a href="/signup">Signup</a></p>
        </form>
    </div>
</body>
</html>