<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TableauDeBord</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div>
        <img src="images/russell.jpg" alt="russell"  class="russell" >
    </div>
    <div class="form-container"> 
        <h1 class="titre">Tableau de bord</h1>
        <p class="tbord">=> Pour revenir a la pages précédentes ou se déconnecter <a href="/signup">Cliquer ici</a></p>
        <p class="tbord">=> Pour enregistrer un Catways <a href="/catways">Cliquer ici</a></p>
        <p class="tbord">=> Pour faire une reservation <a href="/reservation">Cliquer ici</a></p>
        <p class="tbord">=> Documentation liee a l'API <a href="/#">Cliquer ici</a></p>
    </div>
</body>
</html>